<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login & SignUp</title>
  </head>
  <body>
    <div class="container">
      <h2 id="title">SignUp</h2>
      <input id="signupName" type="text" />
      <input id="signupPassword" type="password" />
      <button id="submitSignup">Kirish</button>
      <span id="errorSignup"></span>

      <h2 id="title">Login</h2>
      <input id="loginName" type="text" />
      <input id="loginPassword" type="password" />
      <button id="submitLogin">Kirish</button>
      <span id="errorLogin"></span>
    </div>
    <script src="./js/admin.js"></script>
  </body>
</html>
